.frase-efeito {
    font-size: 2em; /* 2 vezes o tamanho normal da fonte */
    text-align: center; /* Centraliza o texto */
    margin-top: 2em; /* Adiciona espaço acima */
    margin-bottom: 2em; /* Adiciona espaço abaixo */
    font-weight: bold; /* Deixa a fonte em negrito (opcional) */
	page-break-before: always;
	page-break-after: always;
}

.page-break
{
	page-break-after: always;
}

.img-fill {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    height: auto;
    /* CHAVE: display: block permite margin: auto funcionar. */
    display: block; 
    /* CHAVE: Centraliza a imagem DENTRO de seu container. */
    margin-left: auto;
    margin-right: auto;
}

/* Centraliza o bloco inteiro da figura (imagem + legenda) na tela. */
figure {
    max-width: 30%;
    display: block; 
    margin-left: auto;
    margin-right: auto;
}

/* Centraliza o texto da legenda da figura */
figcaption {
    text-align: center; 
    margin-top: 0.5em; /* Espaço entre a imagem e a legenda */
}